<div class="banner" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @cocktail.image_url %>)">
  <h1 class="text-lite"><%= @cocktail.name %></h1>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="info-card text-padding" style="width:100%;">
      <h4 class="line-height-tall"><em><%= @cocktail.description %></em></h4>
    </div>
    <div class="text-center">
      <%= link_to 'Edit cocktail', edit_cocktail_path(@cocktail), class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="col-md-7">
    <div class="info-card info-card-border-left text-padding">
      <h3 class="text-center" style="margin-top:15px;">Ingredients</h3>
      <hr>
      <ul style="padding-left:20px;font-size:1.2em;margin-bottom:20px">
        <% @cocktail.doses.each do |dose| %>
          <li class="ingredient-entry line-height-tall">
            <div class="row">
              <div class="col-xs-6 text-right">
                <strong><%= dose.ingredient.name %></strong>
              </div>
              <div class="col-xs-6 flex-space-between">
                <span><%= dose.description %></span>
                <div class="ingredient-delete">
                  <%= link_to dose_path(dose), method: 'delete', data: { confirm: "Remove #{dose.ingredient.name} dose from #{dose.cocktail.name}?" } do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>

      <!-- hidden form -->
      <div id="dose-form" class="transition hidden-height">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <div class="row flex-align">
            <div class="col-xs-5">
              <%= f.association :ingredient %>
            </div>
            <div class="col-xs-5">
              <%= f.input :description, label: "Amount" %>
            </div>
            <div class="col-xs-1">
              <%= f.submit value: 'Mix!', class: 'btn btn-primary', style: 'margin-top:12px;' %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="text-center">
        <button id="mix" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
