<div class="banner" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @cocktail.photo, height: 600, width: 1200, crop: :fill %>)">
  <h1 class="text-lite"><%= @cocktail.name %></h1>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="info-card text-padding" style="width:100%;">
      <h4 class="line-height-tall"><em><%= @cocktail.description %></em></h4>
    </div>
    <div class="text-center">
      <%= link_to 'Edit info', edit_cocktail_path(@cocktail), class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="col-md-7">
    <div class="info-card info-card-border-left text-padding">
      <h3 class="text-center" style="margin-top:15px;">Ingredients</h3>
      <hr>
      <ul class="head-margin foot-margin text-indent">
        <% @cocktail.doses.each do |dose| %>
          <li class="ingredient-entry line-height-tall">
            <div class="row">
              <div class="col-xs-6 text-right">
                <strong><%= dose.ingredient.name %></strong>
              </div>
              <div class="col-xs-6 flex-space-between">
                <span><%= dose.description %></span>
                <div class="ingredient-delete">
                  <%= link_to dose_path(dose), method: 'delete', data: { confirm: "Remove #{dose.ingredient.name} dose from #{dose.cocktail.name}?" } do %>
                    <i title="Remove dose" class="fas fa-trash-alt"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>

      <!-- hidden form -->
      <div id="dose-form" class="transition hidden-height">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <div class="row flex-align">
            <div class="col-xs-4">
              <%= f.association :ingredient %>
            </div>
            <div class="col-xs-4">
              <%= f.input :description, label: "Amount" %>
            </div>
            <div class="col-xs-2">
              <%= f.submit value: 'Mix!', class: 'btn btn-primary', style: 'margin-top:12px;' %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="text-center">
        <button id="mix" class="btn btn-primary" title="Add dose">Add</button>
      </div>
    </div>
  </div>
</div>

<div id="review-form" class="review-form text-padding">
  <h3 class="text-center head-margin foot-margin">Leave a Review</h3>
  <%= simple_form_for [@cocktail, @review] do |f| %>
    <div class="row">
      <div class="col-xs-2">
        <%= f.input :rating, input_html: { min: 1, max: 5, required: true } %>
      </div>
    </div>
    <%= f.input :comment, input_html: { required: true } %>
    <div class="text-center">
      <%= f.submit class: 'btn btn-primary head-margin foot-margin', value: 'Submit Review' %>
    </div>
  <% end %>
</div>

<!-- reviews -->
<div id="reviews" class="text-padding">
  <h3 class="text-center foot-margin">Reviews</h3>
  <% if @reviews.empty? %>
    <p class="text-center head-margin">This cocktail has no reviews yet.</p>
  <% else %>
    <ul id="reviews-list head-margin" class="scroll-list">
      <% @reviews.each do |review| %>
        <li class="entry transition">
          <ul class="list-inline">
            <% review.rating.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% (5 - review.rating).times do %>
              <i class="far fa-star"></i>
            <% end %>
          </ul>
          <p><%= review.comment %></p>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
